.MainNav {
  width: 1000px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.MainNavList {
  font-size: 15px;
  font-weight: bold;
}

.MainNavList a {
  margin: 20px;
  text-decoration: none;
  color: black;
}
